<div class="container-fluid mt-5 text-center">
    <p class="display-5 mb-5">Aqua Clean</p>
    <p class="text-start lead mt-4 ms-5 ps-4">Your One Stop place for managing your firm's Water Treatment Plants.</p>

    <br><br>

    <p class="text-end mb-5 me-5 lead">Manage All levels of employees efficiently.</p>

    <br><br>

    <p class="lead">Levels of Accounts:</p>
    <div class="text-start mx-auto d-flex justify-content-center pt-5">
        <ol class=" d-flex flex-column gap-5 h2">
            <li>Company</li>
            <li>Superior</li>
            <li>Plant Supervisor</li>
        </ol>
    </div>
</div>
