<app-navbar></app-navbar>

<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()" class="menu-icon" aria-label="Menu to toggle SideNav" >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Menu</span>
  <span class="example-spacer"></span>
  
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer opened mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/home"> 
        <div class="d-flex justify-content-evenly me-5 ">
          <mat-icon>home</mat-icon> <span class="mt-1">Home</span> 
        </div> 
      </a>
      <a *ngIf="checkLogIn() && user.isSupervisor" routerLink="/fillQualityCheckReport" mat-list-item> 
        <div class="d-flex justify-content-evenly me-5 ">
          <mat-icon>description</mat-icon> <span class="mt-1">Fill Quality Check Report </span> 
        </div> 
      </a>
      
      <a *ngIf="checkLogIn() && user.isSuperior" routerLink="/viewSupervisors" mat-list-item> 
        <div class="d-flex justify-content-evenly me-5 ">
          <mat-icon>assignment</mat-icon> <span class="mt-1">View Supervisors </span> 
        </div> 
      </a>
      
      <a *ngIf="checkLogIn() && user.isCompany" routerLink="/viewSuperiors" mat-list-item> 
        <div class="d-flex justify-content-evenly me-5 ">
          <mat-icon>assignment</mat-icon> <span class="mt-1">View Superiors </span> 
        </div> 
      </a>
      
      <a *ngIf="checkLogIn() && user.isSuperior" routerLink="/addSupervisor" mat-list-item> 
        <div class="d-flex justify-content-evenly me-5 ">
          <mat-icon>account_circle</mat-icon> <span class="mt-1">Add Supervisor </span> 
        </div> 
      </a>

      <a *ngIf="checkLogIn() && user.isCompany" routerLink="/addSuperior" mat-list-item> 
        <div class="d-flex justify-content-evenly me-5 ">
          <mat-icon>perm_identity</mat-icon> <span class="mt-1">Add Superiors </span> 
        </div> 
      </a>
      
      <a *ngIf="checkLogIn() && user.isAdmin" routerLink="/addCompany" mat-list-item> 
        <div class="d-flex justify-content-evenly me-5 ">
          <mat-icon>account_balance</mat-icon> <span class="mt-1">Add Company </span> 
        </div> 
      </a>
      
      <a *ngIf="!checkLogIn()" routerLink="/logIn" mat-list-item> 
        <div class="d-flex justify-content-evenly me-5 ">
          <mat-icon>login</mat-icon> <span class="mt-1">Log In </span> 
        </div> 
      </a>
      
      <a *ngIf="checkLogIn()" (click)="setLogOut()" mat-list-item> 
        <div class="d-flex justify-content-evenly me-5 ">
          <mat-icon>logout</mat-icon> <span class="mt-1"> Log Out </span> 
        </div> 
      </a>
      
      <a mat-list-item (click)="drawer.toggle()"  mat-list-item
        >Close</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-sidenav-container >
    <mat-sidenav #drawer opened>
        <mat-nav-list style="min-width: 10vw;">
      
        <a routerLink="/" class="ms-2 me-2 mt-2 mb-2 d-flex justify-content-between text-decoration-none text-light">
            <mat-icon> home </mat-icon>
            <p class="text-center w-75 mt-1">Home</p>
        </a>
        <a routerLink="/students" class="ms-2 me-2 mt-2 mb-2 d-flex justify-content-between text-decoration-none text-light">
          <mat-icon>perm_identity</mat-icon>
          <p class="text-center w-75">Add Student</p>
        </a>
        <a routerLink="/attendance" class="ms-2 me-2 mt-2 mb-2 d-flex justify-content-between text-decoration-none text-light" >
          <mat-icon>assignment</mat-icon>
          <p class="text-center w-75">Add Attendance</p>
        </a>
        <a routerLink="/attendance" class="ms-2 me-2 mt-2 mb-2 d-flex justify-content-between text-decoration-none text-light" >
          <mat-icon>dashboard</mat-icon>
          <p class="text-center w-75">All Records</p>
        </a>
    </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container> -->

<!-- <router-outlet></router-outlet> -->

<!-- 
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon >menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button> Accounts </a>
      <a mat-button> Create Account </a>
      <a mat-button> Contacts </a>
      <a mat-button> Create Contact </a>
      <a mat-button> Activities </a>
      <a mat-button> Create Activity </a>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;"
      >SimpleCRM helps you easily manage your contacts</span
    >
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened>
    <mat-nav-list>
      <a mat-list-item> Accounts </a>
      <a mat-list-item> Create Account </a>
      <a mat-list-item> Contacts </a>
      <a mat-list-item> Create Contact </a>
      <a mat-list-item> Activities </a>
      <a mat-list-item> Create Activity </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item
        >Close</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      router outlet here
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->